@import '../styles/index.scss';

.search-pg{
    background-color: silver;
    .banner-s{
        @include banner-primary
    }
    .search-container{
        display: flex;
    }
    .search-error{
        font-size: 24px;
        font-family: $font-1;
        padding: 20px;
        text-align: center;
    }
    .card-container{
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        padding: 10px;
        width: 80vw;
        margin: 0 auto;
    }
}

.sort-by{
    display: flex;
    justify-content: center;
    align-items: baseline;
    width: 100%;
    height: 40px;
    border-bottom: 1px solid $hover-color2;
    p{ 
        text-align: right;
        width: 100%;
        color: #000;
        margin: 0 0;
        padding: 1px 5px 0px;
        font-family: $font-3;  
    }
    select{
        background: none;
        cursor: pointer;
        height: 40px;
        border: none; 
        font-family: $font-3;  
        font-size: 16px;     
        padding-bottom: 0;
    }
    .select-items{ 
        background: none;
    }
}


