@import '../styles/index.scss';

.search-pg{
    background-color: silver;
    .banner-s{@include banner-primary}
    .search-container{
        display: flex;
    }
    .results-container{
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        padding: 10px;
    }
    .search-error{
        font-size: 24px;
        font-family: $font-1;
        padding: 20px;
        text-align: center;
    }
}

