@import '../styles/index.scss';

.vehicle-card{
    height: 300px !important;
    min-height: 0 !important;
    width: 80%;
    border: 1px solid gray;
    padding: 5px;
    background: #f8f8f8;
    text-decoration: none;
    color: #000;
    font-family: $font-3;
    display: flex;
    position: relative;
    margin: 0 auto;
    img{
        object-fit: cover;
        width: 50%;
        height: 100%;
        padding-bottom: 10px;
    }
    h4{ 
        font-size: 24px;
        font-weight: 600;
    }
    p{ 
        padding-top: 4px;
        margin: 0 auto;
        width: 100%;
    }
    .card-info{
        flex-direction: column;
        margin: auto;
        width: 90%;
        h3{
            font-size: 26px;
            margin-bottom: 50px;
        }
    }
    .price{
        display: flex;
        align-items: baseline;
        justify-content: space-evenly;
        padding: 15px;
        div{
            flex-direction: column;
        }
        div:nth-child(2){
            border-left: 1px solid gray;
            border-right: 1px solid gray;
            padding: 0 30px;
        }
        p{
            font-size: 16px;
            color: gray
        }
    }
    a button {
        background: none;
        border: none;
        cursor: pointer;
        font-size: 20px;
        font-weight: 650;
        padding: 10px;
        width: 100%;
        font-family: $font-3;
    }
    a button:hover{
        color: $hover-color2;
        transform: scale(1.025);
    }
}

.vehicle-card:hover{
    background-color: #fff;
    cursor: pointer;
}

.delete-btn{
    position: absolute;
    top: 5px;
    right: 5px;
    background: #888888bb !important;
    size: 16px;
    border: none !important;
    color: #fff !important;
    width: 30px;
    height: 30px;
    margin: 0 0;
}
.delete-btn:hover{
    transform: scale(1.025);
    font-size: 18px;
    background: red !important;
}

.edit-btn{
    position: absolute;
    top: 5px;
    right: 40px;
    width: 30px; 
    height: 30px;
    background: #888888bb !important;
    cursor: pointer;
    img{
        object-fit: contain;
        height: 20px;
        width: 20px; 
        padding-bottom: 0;
        margin: 5px auto;
    }
}
.edit-btn:hover{
    transform: scale(1.025);
    background: #000;
}

@media screen and (max-width: 1150px){
    .vehicle-card{
        height: 200px !important;
    }
    
    h3{
        font-size: 20px !important;
        margin-bottom: 10px !important;
    }
    h4{ 
        font-size: 18px !important;
    }
    img{
        object-fit: cover;
        width: 50%;
        height: 100%;
        padding-bottom: 0;
    }

} 