@import '../styles/index.scss';

.vehicle-card{
    height: 340px;
    width: 260px;
    border: 1px solid gray;
    padding: 5px;
    background: #f8f8f8;
    text-decoration: none;
    color: #000;
    font-family: $font-3;
    display: flex;
    flex-direction: column;
    position: relative;
    img{
        object-fit: cover;
        width: 100%;
        height: 50%;
        padding-bottom: 10px;
    }
    h4{ 
        font-size: 18px;
        font-weight: 600;
    }
    p{ 
        padding-top: 4px;
        margin: 0 auto;
        width: 100%;
    }
    .price{
        display: flex;
        align-items: baseline;
        justify-content: space-evenly;
        padding: 15px;
        div{
            flex-direction: column;
        }
        div:nth-child(2){
            border-left: 1px solid gray;
            border-right: 1px solid gray;
            padding: 0 10px;
        }
        p{
            font-size: 14px;
            color: gray
        }
    }
    a button {
        background: none;
        border: none;
        cursor: pointer;
        font-size: 16px;
        font-weight: 650;
        padding: 10px;
        font-family: $font-3;
    }
    a button:hover{
        color: $hover-color2;
        transform: scale(1.025);
    }
}

.vehicle-card:hover{
    background-color: #fff;
    cursor: pointer;
}

.delete-btn{
    position: absolute;
    top: 5px;
    right: 5px;
    background: #888888bb !important;
    size: 16px;
    border: none !important;
    color: #fff !important;
    width: 30px;
    height: 30px;
    margin: 0 0;
}
.delete-btn:hover{
    transform: scale(1.025);
    font-size: 18px;
    background: red !important;
}