@import '../styles/index.scss';

nav{
    width: 100vw;
    height: 50px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: none;
    color: #fff;
    h4{ 
        font-size: 20px;
        padding: 0 10px;
        font-family: $font-2;
        cursor: pointer;
    }
    ul{ 
        display: flex;
        font-family: $font-2;
    }
    li a{
        text-decoration: none;
        padding: 0 10px;
        color: #fff;
    }
    h4:hover, li a:hover{color: $hover-color}
}

footer{
    width: 100vw;
    height: 10vh;
    background-color: #2b2c35;
    color: #fff;
    flex-direction: center;
    margin-top: 50%;
    font-family: $font-3;
    text-align: left;
    ul{
        margin: auto;
        li {
            padding: 2px 0;
            a{
                text-decoration: none;
                padding: 0 10px;
            }
        }
        li:hover{
            color: $hover-color;
            cursor: pointer; 
        }
    }

}