
$hover-color: #bbbcc2;
$hover-color2: #97979b;
$drk-grayblue: #2b2c35;

$btn-h: 40px;
$btn-w: 80px;

$font-1: 'Cardo', serif;
$font-2: 'Playfair Display', serif;
$font-3: 'Exo 2', sans-serif;
$font-4: 'PT Sans Narrow', sans-serif;

@mixin button-1 {
    background: none;
    height: 40px;
    width: 80px;
    border: 1.5px solid #fff;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-family: $font-3;
    padding-top: 0;
    margin-top: 5px;       
}
@mixin button-2 {
    background: none;
    height: 40px;
    width: 80px;
    border: 1.5px solid $drk-grayblue;
    color: $drk-grayblue;
    cursor: pointer;
    font-size: 16px;
    font-family: $font-3;
    padding-top: 0;
    margin-top: 5px;       
}

@mixin button-3 {
    background: $drk-grayblue;
    height: 40px;
    width: 200px;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-family: $font-3;
    padding-top: 0;     
}

@mixin button-hover{
    color: $hover-color; 
    border: 1.5px solid $hover-color
}
@mixin button-hover-2{
    transform: scale(1.025);
}

@mixin primary-input{
    width: 80%;
    margin: 10px 0;
    height: 30px;
    padding: 0;
    margin: 5px auto;
    font-family: $font-3;
    text-align: center;
}

@mixin primary-select{
    width: 80%;
    margin: 10px 0;
    height: 34px;
    padding: 0;
    margin: 5px auto;
    font-family: $font-3;
    text-align-last: center;
}

@mixin banner-primary{
    background-color: $drk-grayblue;
    width: 100%;
    height: 30px;
}
