@import '../../styles/index.scss';

form {
    display: flex;
    background: $drk-grayblue;
    flex-direction: column;
    align-items: center;
    width: 450px;
    padding: 20px 0;
    margin: auto;
    p{
        color: #fff;
        font-family: $font-3;
        text-align: left;
        width: 80%;
        margin-bottom: 0;
    }
    input{
        width: 80%;
        margin: 10px 0;
        height: 30px;
        padding: 0;
    }
    button { @include button-1; margin: 10px 0 }  
    button:hover{
        color: $hover-color;
        border: 2px solid $hover-color;
    }
    .links a{
        color: #fff;
        margin: 0;
        font-family: $font-3;
        font-size: 14px;
        padding: 0 5px;
        
    }
    .links a:hover{color: $hover-color}
}
h2{
    margin: 10vh 0 5vh 20vw !important;
}

.fullname{
    display: flex;
    justify-content: space-between;
    width: 80%;
    div{ 
        width: 48%
    }
    input{
        width: 100%
    }
}

.location {
    display: flex;
    justify-content: space-evenly;
    width: 81%;
    // city
    div:nth-child(1) {
        width: 70%;
        input{ 
            width: 99%;
        }
    }
    // state
    div:nth-child(2) {
        width: 30%;
        select{
            margin: 10px 0;
            height: 34px;
            width: 100%;
            font-family: $font-3;
            color: gray;
        }
    }
}

.form-errors{
    width: 450px;
    font-size: 14px;
    font-family: $font-3;
    color: #be0303;
    text-align: left;
    margin: auto;
    padding: 4px;
}
